.change-password-info{
  .field-form{
    &:nth-of-type(1) {
      margin-top: 40px;
    }
    margin-top: 32px;
  }
  .button-wrap{
    padding-top: 40px;
  }
  .box-wrap {
    .box-top {
      margin-bottom: auto;
    }
  }
}