

.card {
  width: 100%;
  height: 206px;
  padding: 32px;
  color: #fff;
  background-color: $bgColor-3;
  border-radius: 12px;

  .text-block {
    display: block;
  }

  .card-top {
    height: 74px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

    .title-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .card-title {
      overflow: hidden;
      max-width: 260px;
      color: $color-5;
      @include fontCustom(20px,700,null,-0.5px);
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .badge {
      padding: 4px 12px;
      border-radius: 16px;
      background-color: rgba(255, 255, 255, 0.12);
      @include fontCustom(14px,400,null,-0.35px);
    }
  }

  .card-status-box {
    .card-status {
      opacity: 0.6;
      text-decoration: underline;
      @include fontCustom(14px,400,null,-0.35px);

      &.clearly {
        opacity: 1;
      }
    }
  }

  .card-bottom {
    padding-top: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);

    .date-box {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & + .date-box {
        margin-top: 9px;
      }

      .date-text {
        opacity: 0.6;
        @include fontCustom(14px,400,null,-0.35px);
      }

      .date-value {
        @include fontCustom(14px,400,null,-0.35px);
      }
    }
  }

  &.subscribe {
    background-color: $bgColor-8;
  }

  &.product {
    background-color: $bgColor-9;
  }

  &.enterprise {
    background-color: $bgColor-6;
  }

  &.termination {
    background-color: $bgColor-4;

    .card-title {
      color: $color-4;
    }

    .card-status {
      color: $color-4;
      text-decoration: none;
    }

    .badge {
      color: $color-4;
      background-color: $bgColor-16;
    }

    .date-box {
      .date-text {
        color: $color-4;
      }

      .date-value {
        opacity: 0.6;
        color: $color-4;
      }
    }
  }

  &.banner {
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      text-align: center;
      color: $color-1;
      @include fontCustom(20px,400,1.4,-0.5px);
    }

    .btn-wrap {
      max-width: 146px;
      margin: 24px auto 0;
    }

    .button {
      font-weight: 700;
      padding: 12px 0;
    }

    &.full-size {
      height: 400px;
    }
  }
}

.rate-plan-info-text {
  display: flex;
  align-items: center;
  margin-top: 32px;

  .ico-refer {
    width: 20px;
    height: 20px;
    margin: -3px 8px 0 0;
  }

  .text {
    color: $color-3;
    @include fontCustom(16px,400,32px,-0.4px);
  }

  .text-link {
    color: $color-6;
    text-decoration: underline;
  }
}

.item {
  &.two-column,
  &.three-column {
    .text-block {
      display: inline;
    }
  }
}
.card-type1 {
  .card-bottom {
    .data-box {
    }
  }
}
.card-type1,.card-type2 {
  width: 100%;
  height: 222px;
  padding: 0 0 40px;
  border-radius: 12px;
  border: solid 1px #eee;
  .card-top {
    border-radius: 12px 12px 0 0;
    background-color: #f9f9f9;
    height: 77px;
    .title-box {
      display: flex;
      align-items: center;
      padding: 26px 0 26px 40px;
      img {
        width: 24px;
        height: 24px;
        margin-right: 16px;
      }
      .card-title {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: -0.6px;
      }
    }
  }
  .card-bottom {
    display: flex;
    padding: 40px;
    width: 100%;
    .data-box {
      display: flex;
      flex-direction: column;
      width: 100%;
      .data-text {
        color: $color-9;
      }
      .data-value {
        font-size: 28px;
        font-weight: bold;
        letter-spacing: -0.7px;
        color: $color-9;
      }
    }
  }
}
.card-type1 {
  .data-box {
    .data-text {
      padding-bottom: 12px;
    }
  }
}
.card-type2 {
  height: 100%;
  padding: 0;
  .card-bottom {
    display: flex;
    flex-direction: column;
    // padding: 0 40px;
    padding: 0;
    padding: 0 40px;
    .data-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 50px 0;
      &:not(:last-of-type) {
        border-bottom: 1px solid $color-10;
      }
    }
  }
}
.grid-wrap {
  &.four-column {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    .item {
      grid-column: 1 / 3;
      &.one-row {
        grid-column: 3 / 6;
        grid-row: 1 / 3;
      }
    }
  }
}